#time-filter-container {
  padding-top: 10px;
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .time-filter-slider {
    width: 95%;
    min-width: 95%;
    display: block;
    position: relative;
  }

  .upper-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    .date-picker-container {
      display: block;
      width: 100%;
      width: 250px;
      padding: 0px 30px 0px 30px;
    }

    .filter-by-time-container {
      padding-bottom: 7px;
    }
  }
}
