<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="initialLat"
         [longitude]="initialLon"
         [disableDefaultUI]="false"
         [zoomControl]="false"
         (mapClick)="mapClicked($event)">

  <agm-marker *ngFor="let target of targets"
              [latitude]="target.lat"
              [longitude]="target.lon"
              [iconUrl]="target.FatherId==chosenMO ? 'assets/crosshair-marker.png' : null"
              (markerClick)="clickedMarker(target.FatherId)"
  >
  </agm-marker>

  <!--<ng-container *ngFor="let target of targets">-->
  <!--<agm-marker *ngIf="target.id===5"-->
              <!--[latitude]="target.lat"-->
              <!--[longitude]="target.lng">-->
  <!--</agm-marker>-->
  <!--</ng-container>-->
</agm-map>
<side-menu></side-menu>
<footer-menu></footer-menu>
