<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div class="maps-container">
  <div id="mapid"></div>
  <div class="map-separator"></div>
  <div id="assistantmap"></div>
  <div ESPMarker *ngFor="let target of filteredTargets"
       [lat]="target.lat"
       [lng]="target.lon"
       [iconUrl]="getMarkerIcon(target.father_id)"
       [iconSize]="[14, 14]">
  </div>
  <side-menu></side-menu>
</div>
<footer-menu></footer-menu>
