:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title-container {
  font-size: 38px;
  height: 40px;
  margin: 15px 32px 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(70, 183, 228);
}

.cluster-list-container {
  height: 80%;
  width: 85%;
  align-self: center;
}
