:host {
  width: 100%;
  height: 100%;
}


.title-container {
  font-size: 38px;
  height: 40px;
  margin: 15px 32px 15px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgb(70, 183, 228);
}
